
    body { background-color:#FFCCFF ; font-family:sans-serif; padding:0 20px }
	div.box { background-color:#f9fafc; max-width:975px; margin:20px auto 50px; padding:50px; border-radius:10px; border:1px solid #808080; box-shadow:8px 15px 20px #404040 }
	img.logo { float:right; margin:-10px 0 0 30px }
	h1 { margin:0; font-size:24px }
	h2 { margin-top:40px; font-size:20px; font-weight:normal; border-bottom:1px solid #ff9040 }
	p { font-size:14px }
	 ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    position: relative;
    top: 2em;
    left: 1em;
    width: 9em }
    h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
color: navy
 }
          ul.navbar li {
    background: pink;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
         color: navy Blue }
  a:visited {
    color: purple }
a:hover { color: red }
a:active { color: green }
    address {
    padding-top: 1em;
    margin-top: 1em;
    border-top: solid black 3px }
	@media (max-width:499px) { div.box { padding:25px } img.logo { float:none; display:block; margin:0 auto 20px }  }
  
