  body {
     padding-center: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    font-size:10pt;
    color: black;
    background-color: #d8da3d }
    ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    position: relative;
    top: 2em;
    left: 1em;
    width: 9em }
    h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
color: navy
 }
          ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
         color: navy Blue }
  a:visited {
    color: purple }
a:hover { color: red }
a:active { color: green }
    address {
    padding-top: 1em;
    margin-top: 1em;
    border-top: solid black 3px }
  
       }