
	body { background-color:#FFFFFF ; font-family:sans-serif; padding:0 20px; font-color:#FFFFFF }
	div.box { background-color:#F20505
; max-width:675px; margin:20px auto 50px; padding:50px; border-radius:10px; border:1px solid #808080; box-shadow:8px 15px 20px #404040 }
	img.logo { float:right; margin:-10px 0 0 30px; width:100%; height:50% }
	h1 { margin:0; font-size:24px }
	h2 { margin-top:40px; font-size:20px; font-weight:normal; border-bottom:1px solid #ff9040 }
 h4 { color:#00FFFF }
	p { font-size:14px; color:#FFFFFF }
	a { color:#00FFFF
; text-decoration:none }
	a:hover { text-decoration:underline }
	@media (max-width:499px) { div.box { padding:25px } img.logo { float:none; display:block; margin:0 auto 20px } }

h6,h1 { color:#FFFF8F }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #EE05F2;
}